{% extends 'base.html' %}

{% block title %}
Main Page
{% endblock title %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Logo</th>
            <th scope="col">Name</th>
            <th scope="col">Rank</th>
            <th scope="col">Market cap</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        {% if data %}
            {% for d in data %}
                <tr>
                    <td><img src={{d.image}} height="70"></td>
                    <td class="align-middle">{{d.name}}</td>
                    <td class="align-middle">{{d.market_cap_rank}}</td>
                    <td class="align-middle">{{d.market_cap}}</td>
                    <td class="align-middle">{{d.current_price}}</td>
                </tr>
            {% endfor %}
        {% else %}
                <h3>Nothng here ...</h3>
        {% endif %}
    </tbody>
</table>

{% endblock content %}

{% block script %}
{% endblock script %}